.green-link {
    color: #00c851!important;
}

.center-row {
    margin-top: 20vh;
}


.btnEnregistrer{
    margin-top: 50px!important;
}
.form-text ul {
    padding: 0;
    list-style-type: none;
}

#map {
    margin-top: -50px;
    height: 300px;
    width: 100%;
    border-radius: .25rem;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.card-full-width {
    width: 90vw;
    height: 35vh;
}

.character-counter {
    display: none;
}