{% extends 'base.html.twig' %}

{% block title %}City{% endblock %}

{% block body %}
    <div class="card card-cascade wider">
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h4 class="card-title"><strong>{{ city.libelle }}</strong></h4>
            <!-- Text -->
            <h6 class="card-subtitle">{{ city.postalCode }}</h6>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="{{ path('city_index') }}" class="btn btn-primary">Retour</a>
            <a href="{{ path('city_edit', {'id': city.id}) }}" class="btn btn-outline-success">Modifier</a>
        </div>
    </div>
{% endblock %}
