{% extends 'empty.html.twig' %}

{% block body %}
    <div class="row justify-content-center center-row">
        <div class="col-4">
            <div class="card form-dark">
                <h5 class="card-header success-color-dark white-text text-center py-4">
                    <strong>Mot de passe oublié?</strong>
                </h5>
                <!--Card content-->
                <div class="card-body px-lg-5 pt-4 pb-4">
                    <form method="post">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                        <img src="{{ asset('img/forgot_password.svg') }}" alt="forgoten password" class="img-fluid mt-2">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-success" type="submit">
                                    Envoyer
                                </button>
                            </div>
                            <div class="col-6">
                                <a href="{{ path('Index') }}" class="btn btn-outline-primary"> Retour</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}