{% extends 'empty.html.twig' %}
{% block title %}Reset Password !{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal">Réinitialiser mon mot de passe</h1>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <input type="hidden" name="token" value="{{ token }}">
            <img src="{{ asset('img/authentication.svg') }}" alt="auth" class="error-svg mt-1"><br/>
            <button class="btn btn-lg btn-success" type="submit">
                Réinitialiser
            </button>
        </form>
    </div>
{% endblock %}